*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    background-color: #404040;
    color:#D6D6D6;
}
header{
    width:100%;
    height:10%;
}
.container{
    padding:10px 5%;
    background-color: #808080;
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: wrap;
    background-color: #808080;
}
.show-mobile{
    display: none;
}


nav ul{
    background-color:#808080;
}
nav ul li a{
    background-color: #808080;
    font-family: 'Inria Serif', serif;
    font-size: 1.3em;
}
nav ul li{
    display:inline-flex;
    list-style:none;
    margin:10px 20px;
}
.logoSize{
    margin-top: 10px;
    display: inline-block;
    width: 230px;
    height: auto;
    background-color: #808080;
}
.inline-block{
    display:inline-block;
    vertical-align:top;
}
/* hero image*/
.heroImg img{
    display:inline-block;
    height: 400px;
    border-radius: 10%;
}
.content{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
    margin: 3% 0px;
}
.profileImage{
    display: flex;
    justify-content: center;
}
.childClass{
    width: 50%;
    float: left;
    padding: 0px;
}
.infoSpacing{
    margin-top: 3%;
    width:66%;
}
.resumeButton{
    display: inline-block;
    width: auto;
    border-radius: 16px;
    padding: 7px 13px;
    margin-right:11px;
    background-color: #a3d9d385;
}
.socialMediaImageHeader li{
    display:inline-block;
    list-style: none;
    margin: 3% 3% 0% 0%;
}
.socialMediaImageHeader li img{
    width: 36px;
    height: 36px;
}
/* Footer */
footer{
    color:white;
    padding: 20px 0px;
    border-bottom: 40px #a3d9d385 solid;
    border-top: 40px #a3d9d385 solid;
}
footer ul li{
    margin: 10px 20px;

}
footer ul{
    list-style: none;
    text-align: center;
    vertical-align: top;
    padding:5px;
}
.socialMediaImages{
    display:inline-block;
    width: 30px;
}
.socialMediaImages img{
    width: 40px;
}

/* My UX Skills section coded using CSS flex*/
.qualifications{
    width: 90%;
    display: inline-block;
}
.mySkills h1,.myTools h1{
    margin-bottom: 5%;
}
.boxedItems{
    width: 80%;
}
.boxedItems p{
    display: inline-block;
    padding: 7px 25px;
    margin: 8px;
    background: #a3d9d385;
    border-radius: 70px;
}
/* My Work Section Constructed using CSS Grid*/
.workGrid{
    margin: 2%;
    display:grid;
    grid-column-gap:20px;
    grid-template-rows: 310px 140px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "project1 project2 project3" "project1Info project2Info project3Info";
}
#firstProject{
    grid-area:project1;

}
#secondProject{
    grid-area:project2;
}
#thirdProject{
    grid-area:project3;
}
#firstProjectInfo{
    grid-area: project1Info;
}
#secondProjectInfo{
    grid-area: project2Info;
}
#thirdProjectInfo{
    grid-area: project3Info;
}
#firstProjectInfo,#secondProjectInfo,#thirdProjectInfo{
    background-color: black;
}
.cardInfo{
    text-align: center;
    background-color: black;
    margin-top: 10px;
}
.workGrid img{
    display: flex;
    float: left;
    width:  100%;
    height: 310px;
    object-fit: cover;
}
.qualifications,.myWork{
    margin: 2% 5%;
}
.projectButtons{
    margin: 8% 4%;
    padding:10px;
    background-color: #a3d9d385;
}
.viewProjects{
    display:flex;
    justify-content: center;
    margin: 5%;
    cursor: pointer;
    text-decoration: underline;
}
.qualifications h1, .myWork h1{
    color: #A3D9D3;
}
/*Responsive Design for Mobile Devices*/
@media only screen and (max-width:600px) {
    .flexContainer{flex-direction: column;}
    body{
        flex-direction: column;
    }
    .boxedItems p{
        font-size: small;
        padding: 7px 25px;
        margin: 5px;
    }
    .hide-mobile{
        display: none;
    }
    #hamburgerIcon{
        background-color: transparent;
    }
    .left-align { float: left; }
    .right-align { float: right; }
    .show-mobile{
        display: flex;
    }
    .workGrid{
        display:grid;
        grid-template-rows:300px 140px 300px 140px 300px 140px;
        grid-template-columns: 1fr;
        grid-template-areas: "project1" "project1Info" "project2" "project2Info" "project3" "project3Info";
        grid-row-gap:10px;
    }
    .workGrid img{
        width:  100%;
        height: 300px;
        object-fit: cover;
    }
}